/* 1. Estilos Globales */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    border-bottom: 3px solid #007bff; 
    flex-wrap: wrap;
}

.logo h1 {
    margin: 0;
    font-size: 1.6rem;
    color: #007bff;
}

.logo p {
    margin: 0;
    font-size: 0.85rem;
    color: #777;
}

.header-controles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    margin-left: 20px;
    transition: color 0.3s;
}

.barra-navegacion a:hover {
    color: #007bff;
}

.botones-config {
    display: flex;
    gap: 8px;                
}

.botones-config button {
    padding: 4px 10px;       
    cursor: pointer;         
    background-color: #eee;  
    border: 1px solid #ccc;  
    border-radius: 4px;      
    font-size: 0.8rem;
}


/* 1. Contenedor de la Sección */
.seccion-ticket {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    padding: 50px 20px;
    background-color: #f4f7f6; 
    min-height: 80vh;
}

/* 2. El Cuerpo del Ticket  */
.ticket-container {
    background-color: white;
    width: 100%;
    max-width: 450px; 
    padding: 30px;
    border-radius: 2px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    position: relative;
}

/* 3. Encabezado del Comprobante */
.ticket-header {
    text-align: center;
    border-bottom: 2px dashed #ccc; 
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.icono-exito {
    width: 20px; 
    margin-bottom: 10px;
}

.ticket-header h2 {
    margin: 5px 0;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/* 4. Detalles del Cliente y Fecha */
.ticket-info-cliente {
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* 5. Listado de Productos */
.ticket-tabla {
    width: 100%;
    margin-bottom: 20px;
}

.ticket-fila {
    display: flex;
    justify-content: space-between; 
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    font-family: 'Courier New', Courier, monospace; 
}

.ticket-total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #333;
    font-size: 1.3rem;
    font-weight: bold;
}

/* 6. Botones de Acción Debajo del Ticket */
.ticket-botones {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    justify-content: center;
}

.btn-accion {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-pdf { background-color: #7e807f; color: white; }
.btn-salir { background-color: #7e807f; color: white; }

.btn-accion:hover { opacity: 0.8; transform: scale(1.05); }

/* MODO OSCURO SIMPLE */
body.oscuro {
    background-color: #222;
    color: white;
}
body.oscuro header, body.oscuro .tarjeta {
    background-color: #333;
    border-color: #444;
}

.oculto { display: none; }

